body{
    background-color: blue;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}


div{
    
    background-color: red;
    margin-bottom: 0px;
}
#imm{
   
    width: 100%;
}

p{
    background-color: green;
    
}





@media(min-width:800px){
   
    #navbar{
    background:#be3144;    
      position:fixed;
      width:100vw;
  }
  #navbar ul{
    display: flex;
    align-items:center;
    justify-content: right;
    padding: 10px;
  }
  #navbar li{
    list-style-type:none;
    padding: 0px 30px;
  }
  #navbar a{
    text-decoration:none;
    color: #FFFFFF;
    font-size: large;
  }
  #welcome-section{
    height:100vh;
    width: 100vw;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    color: #be3144;  
    left: 0;
    top: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#welcome-section h1{
    font-size: 4em;
    display: block;
    color: white;
    margin-bottom: 0%;
}
#welcome-section p{
    font-style: italic;
    margin-top: 0%;
    font-size: 2em;
}

#work{
    background-color: #190230;
    width: 100vw;
    padding: 10px;
    padding-top: 80px;
    color: white;
    font-size: 2em;
    text-align: center;
}

/* #projects{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5px 15px;
    height: 30px;
    justify-content: center;
    background-color: #190230;
} */
.project-tile{
    border: 1px solid red;
    width: 300px;
    height: 200px;
    margin: 0px;
    background-color: green;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 80%;
    margin: 0px;
}

.project-title{
    color: white;
    background-color: grey;
      
}


}