html{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{   
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}


@media(min-width:800px){
   
    #navbar{
    background:#be3144;    
      position:fixed;
      width:100%;
      top: 0;
      left: 0;
      box-shadow: 0 2px 0;
      box-sizing: border-box;
  }
  #navbar ul{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
  }
  #navbar li{
    list-style-type:none;
    padding: 0px 30px;
    
  }
  #navlink a{
    text-decoration:none;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    padding: 20px 0px;
    position: relative;
     
    
  }
  .nav-item::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    
    
  }
  .nav-item-ltr::before {
    width: 100%;
  bottom: 5px;
  opacity: 0;
  }
  
  .nav-item-ltr:hover::before {
    bottom: 10px;
  opacity: 1;
  }
 

  #welcome-section{
    height:100vh;
    width: 100%;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    color: #be3144;  
    left: 0;
    top: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#welcome-section h1{
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
    display: block;
    color: white;
    margin-bottom: 0%;
}
#welcome-section p{
    font-style: italic;
    margin-top: 0%;
    font-size: 2rem;
}

#work{
    background-color: #190230;
    width: 100%;
    padding: 8rem 2rem 4rem 6rem;
    color: white;
    text-align: center;
}
#work h2{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    font-size: 2rem;
    border-bottom: 0.2rem solid white;
}

#projects-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(320px,1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #190230;
    margin-bottom: 6rem;
    box-sizing: border-box;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
.project-tile{
    border: 1px solid #222224;
    background-color: grey;
    border-radius: 5px; 
    line-height: 1.5;
}
.project-image{
    width: 100%;
    height: 87%;
    object-fit: cover;
}

.project-title{
    font-size: 1.4rem;
    color: white;
    background-color: C;
    height: 13%;
    padding: 1rem 0.5rem;
    
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    background-color: #222224;
    color: white;
    font-weight: 700;
}

#contact{
    background-color: #222224;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 80vh;
    padding: 0 2rem;
    
}
#contact-text h1{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    display: block;
    color: white;
    margin-bottom: 0%;
}
#contact-text p{
    font-style: italic;
    margin-top: 0%;
    font-size: 1.5rem;
}
#social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.social-detail{
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px black;
    padding: 1rem 2rem;
    
}
.social-detail:hover{
    transition: transform 0.3s ease-in-out; 
    color:#be3144;
    text-shadow: 2px 2px 1px #222224;
    transform: scale(1.1);
}
footer{
    display: flex;
    color: white;
    justify-content: center;
    border-top: 2px solid #be3144;
    background-color: #222224;
    height: 20vh;
    align-items: center;

}
}

